/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bg-green-white {
  background-color: #f8da5b;
}

.bg-green-light {
  background-color: #24527a;
}

.bg-green-medium {
  background-color: #5a7fab;
}

.bg-green-dark {
  background-color: #455d7a;
}

.bg-green-white-important {
  background-color: #ff5722 !important;
}

.bg-green-light-important {
  background-color: #f8da5b !important;
}

.bg-green-dark-important {
  background-color: #24527a !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fbf2d5;
  margin: 0 0;
  padding: 0;
}
