<mat-card class="bg-green-dark-important text-white">
  @if (error != null) {
    <mat-card-content>
      <p>{{ error }}</p>
    </mat-card-content>
  } @else {
    <mat-card-header id="next-match">
      <mat-card-title>Next Match</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content *ngIf="nextMatch$ | async as match; else loading">
      <p>
        {{ timeLeft$ | async }}
      </p>
      <mat-card class="bg-green-light-important text-white">
        <mat-card-header>
          <p class="font-medium">
            {{ match.homeTeam.name }} vs {{ match.awayTeam.name }}
          </p>
        </mat-card-header>
      </mat-card>
    </mat-card-content>
  }
</mat-card>

<ng-template #loading>
  <mat-card-content>Loading...</mat-card-content>
</ng-template>
