.team-overview p,
.team-players p {
  margin: 5px 0;
}

.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
}

.stat-box h2 {
  margin: 0;
  color: #1976d2;
}
